header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-display h2 {
    font-size: 3rem;
    
}

h2 {
    background-color: whitesmoke;
    color: red;


}


h5 {
    color: black;
    font-style: italic;


}



.main-display p {
    font-size: 2rem;
    font-style: oblique;
}

   

